{% extends "base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:'yes,no' }}</td>
                    </tr>
                {% empty %}
                    <p>You have no tasks</p>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
