{% extends "base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <div>
                <p>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
            </div>
            {% for project in list_projects %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                </table>
            {% empty %}
                <p>You are not assigned to any projects</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
